@model IEnumerable<Finanzrechner.Database.Transaction>

@{
    ViewData["Title"] = "Index";
}
<div class="row">
    <div class="col-sm-3">
        <h4>Alle Einträge</h4>
        <hr />
        <p>
            <a asp-action="Create" class="btn btn-success">Eintrag hinzufügen</a>
        </p>
    </div>
    <div class="col-sm-9">
        <h4>Filter</h4>
        <hr />
        <form asp-controller="Transaction" asp-action="Index">
            <label class="control-label">Einträge anzeigen</label> <br />

            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="amountEntriesShown" id="btnradio1" autocomplete="off" value="10">
                <label class="btn btn-outline-secondary" for="btnradio1">10</label>

                <input type="radio" class="btn-check" name="amountEntriesShown" id="btnradio2" autocomplete="off" value="50">
                <label class="btn btn-outline-secondary" for="btnradio2">50</label>

                <input type="radio" class="btn-check" name="amountEntriesShown" id="btnradio3" autocomplete="off" value="Alle">
                <label class="btn btn-outline-secondary" for="btnradio3">Alle</label>
            </div>

            <input class="btn btn-primary" type="submit" value="Filtern" />
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeStamp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style="background-color: @item.Category.ColorCode"></td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @if (item.IsIntake)
                {
                    <span class="text-success">+ €@item.Amount</span>
                } else
                {
                    <span class="text-danger">- €@item.Amount</span>
                }
            </td>
            <td>
                <span>@item.TimeStamp.ToString("dd.MM.yyyy")</span>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-secondary"><i class="bi bi-pen"></i></a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger"><i class="bi bi-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
