@model IEnumerable<Lagerverwaltung.Database.Product>

@{
    ViewData["Title"] = "Lagerbestand";
}

<div class="row">
    <div class="col-sm-3">
        <h1>Lagerbestand</h1>
        <a asp-action="Create" class="btn btn-success">Produkt hinzufügen</a>
    </div>
    <div class="col-sm-9">
        <h3>Filter</h3>
        <form asp-controller="Product" asp-action="Index">
            <div class="row">
                <div class="col-sm-3">
                    <label class="control-label">Suche</label> <br />
                    @if (ViewBag.SearchFilter is not null)
                    {
                        <input class="form-control" type="text" name="searchString" value="@ViewBag.SearchFilter"/>
                    } 
                    else
                    {
                        <input class="form-control" type="text" name="searchString" />
                    }
                </div>
                <div class="col-sm-2">
                    <label class="control-label">Lagerbestand</label> <br />
                    @if (ViewBag.InStorage is not null)
                    {
                        <input class="form-control" type="number" name="inStorageFilter" value="@ViewBag.InStorage" />
                    }
                    else
                    {
                        <input class="form-control" type="number" name="inStorageFilter" />
                    }
                </div>
                <div class="col-sm-3">
                    <label class="control-label">Kategorie</label>
                    <select class="form-control" asp-items="ViewBag.CategoryId" name="category"></select>
                </div>
            </div>
            <input class="btn btn-primary mt-3" type="submit" value="Filter anwenden" />
            @if (ViewBag.ShowDeleteFilterButton == true)
            {
                <a class="btn btn-danger mt-3" asp-action="Index">Filter entfernen</a>
            }
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.InStorage)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.CurrentSellPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td class="text-center">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
                <td class="text-center">
                @Html.DisplayFor(modelItem => item.InStorage)
            </td>
                <td class="text-center">
                € @Html.DisplayFor(modelItem => item.CurrentSellPrice)
            </td>
                <td class="text-end">
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-secondary"><i class="bi bi-info-circle"></i></a>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-secondary"><i class="bi bi-pencil"></i></a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger"><i class="bi bi-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
